MAKE SURE YOU PUT BEFORE ADDING NEW PHYSICALMACHINE
ADD NEW PHYSICALMACHINE
<form action="/add" method="POST">
Name:
<input type="text"  name="Name"><br>
Description:
<input type="text"  name="Description"><br>
IP Address:
<input type="text"  name="IPAddress"><br>
<input type="submit" name="submit" value="Submit">
</form>
