<form action="/create" method="POST" id="createvm">
Name:<input type="text"  name="Name" ><br>
Owner:<input type="text"  name="Owner" ><br>
Description:<input type="text"  name="Description"><br>
Repo:<input type="text" name="repo"><br>
Disk(GB)<input type="text" name="disk"><br>
autoyast<input type="text" name="autoinst"><br>
<select Name="IpAddress">
{{range .}}
<option value={{.IpAddress}}>{{.Name}}</option>
{{end}}
</select>
<br>
<input type="submit" name="submit" value="Submit">
</form>
