{{.Name}}
<form action="/vm/{{.Id}}" method="POST">
<input type="text"  name="Owner" value="{{.Owner}}">
<input type="text"  name="Description" value="{{.Description}}">
<BR>
{{if .Active}}
<input type="submit" name="submit" value="Stop">
<input type="submit" name="submit" value="ForceStop">
{{else}}
<input type="submit" name="submit" value="Start">
{{end}}
<input type="submit" name="submit" value="Update">
</form>

{{if .Active}}
<form action="/vm/delete/{{.Id}}" method="POST">
<input type="submit" name="submit" value="Delete">
</form>
{{end}}
